//
//Arquivo SASS para todos os estilos da página
//

//
//Mixins
//

// mixin para linear-gradient do menu
@mixin linearGradient($angulo, $color1, $color2, $perc1, $perc2){
    background: $color2; /* Fallback */
    background: -moz-linear-gradient($angulo, $color1 $perc1, $color2 $perc2); /* FF3.6+ */
    background: -webkit-linear-gradient($angulo, $color1 $perc1,$color2 $perc2); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient($angulo, $color1 $perc1,$color2 $perc2); /* IE10+ */
    background-image: linear-gradient($angulo, $color1 $perc1,$color2 $perc2); /* W3C */
}

@mixin linearGradientTrian($angulo, $color1, $color2, $color3, $perc1, $perc2){
    background: $color2; /* Fallback */
    background: -moz-linear-gradient($angulo, $color1, $color2 $perc1, $color3 $perc2); /* FF3.6+ */
    background: -webkit-linear-gradient($angulo, $color1, $color2 $perc1, $color3 $perc2); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient($angulo, $color1, $color2 $perc1, $color3 $perc2); /* IE10+ */
    background-image: linear-gradient($angulo, $color1, $color2 $perc1, $color3 $perc2); /* W3C */
}

//mixin para gradiente da coluna direita
@mixin linearGradientCol($angulo, $color1, $color2){
    background: $color2; /* Fallback */
    background: -moz-linear-gradient($angulo, $color1 , $color2); /* FF3.6+ */
    background: -webkit-linear-gradient($angulo, $color1 ,$color2); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient($angulo, $color1 ,$color2); /* IE10+ */
    background-image: linear-gradient($angulo, $color1 ,$color2); /* W3C */
}

//mixin para background do topo
@mixin imgGradient-topo($angulo, $color1, $color2, $imagem){
	background-image: linear-gradient($angulo, $color1, $color2), url('../img/#{$imagem}');
}

//mixin para estilização dos titulos
@mixin txtGradient-titulos($angulo, $color1, $color2, $color3){
	background-image: linear-gradient($angulo, $color1, $color2), linear-gradient($color3, $color3);
}

// mixin para declaração de fontes
@mixin declare-font-face($font-family, $font-name, $font-ext, $font-format) {
	@font-face {
		font-family: '#{$font-family}';
		src:(url('../fonts/#{$font-name}.#{$font-ext}')) format('#{$font-format}'),
	}
}

@include declare-font-face('BenchnineBold', 'benchnine-bold', 'ttf', 'truetype');
@include declare-font-face('BenchnineLight', 'benchnine-light', 'ttf', 'truetype');
@include declare-font-face('BenchnineRegular', 'benchnine-regular', 'ttf', 'truetype');
@include declare-font-face('RobotoBold', 'roboto-bold', 'woff', 'woff');
@include declare-font-face('RobotoRegular', 'roboto-regular', 'woff', 'woff');

//
//Variáveis
//
$cor-degrade1: #ff5600;
$cor-degrade2: #ffb300;
$rotate: -90deg;

//Background da Row do topo

.div-superior {
	background: url('../img/doodle.svg') no-repeat;
	background-position: 300px -350px;
}

//Trabalhando no body

body {
	margin:0px
}

//Trabalhando o menu

.div-menu {
	margin-top:90px
}

.logo {
	width:100px
}

.menu-principal {
	margin-top: 100px;
	padding: 0;
	list-style-type: none;
	font-family: RobotoBold;
	font-size:12px;
	letter-spacing: 2.8px;
	li {
		padding-bottom: 40px;
		a {
			color: #414042;
			padding: 0 2px 0 4px;
		}
		a:link {
			text-decoration: none
		}
		a:visited {
			text-decoration:none
		}
		a:hover {
			@include linearGradient (180deg, #ffffff, #ffdb00, 60%, 40%);
			background-repeat: no-repeat;
		}
		a:active {
			text-decoration: none
		}
	}
}

//Trabalhando o topo ao lado do menu
.div-topo {
	@include imgGradient-topo (220deg, rgba(255, 86, 0, 0.8), rgba(255, 179, 0, 0.8), 'bg-home-bsb.jpg');
	background-size: 900px;
	background-repeat: no-repeat;
	height: 780px;
	mix-blend-mode: screen;
}

.menu-idiomas {
	list-style-type: none;
	font-family: RobotoBold;
	font-size: 7px;
	letter-spacing: 1px;
	margin-top: 21%;
	float: right;
	li {
		display: inline;
		a {
			color: #414042;
			padding: 0 3px 0 3px
		}
		a:link {
			text-decoration: none;
		}
		a:visited {
			text-decoration:none
		}
		a:hover {
			background-size: 15px 4px;
			background-position: left center;
			@include linearGradient (180deg, rgba(255,255,255,0), rgba(255, 219, 0, 1), 55%, 45%);
			background-repeat: no-repeat;
		}
		a:active {
			text-decoration: none
		}
	}
}

.txt-topo {
	font-family: BenchnineBold;
	font-size: 50px;
	color: #ffffff;
	line-height: 1;
	width: auto;
	clear: right;
	float: right;
	margin-top: 30%;
}

//Background do Fundo do corpo
.fundo-corpo {
	background: url('../img/doodle.svg') no-repeat;
	background-position: -320px 450px;
	background-size: 840px;
	margin-left: -15px;
}

//Trabalhando na área "SOBRE"

.col-direita {
	mix-blend-mode: screen;
	@include linearGradientCol (37deg, #ff5600, #ffb300);
	background-origin: padding-box;
}

.titulo-sobre {
	font-family: BenchnineBold;
	font-size:30px;
	padding-top:60px;
	padding-left:40px
}

.p-sobre {
	font-family: RobotoRegular;
	font-size:12px;
	line-height:26px;
	letter-spacing:0.4px;
	padding-top:50px;
	padding-bottom:120px;
	padding-left:100px;
	padding-right:10px;
	text-align: right;
}

.vertical {
	margin-left: -70px;
	margin-top:157px;
	position: absolute;
	transform: rotate($rotate);
	-webkit-transform: rotate($rotate);
	-moz-transform: rotate($rotate);
	-ms-transform: rotate($rotate);
}

.sobre-vert {
	@include txtGradient-titulos (317deg, #fb8916, #ffb300, #ffdb00);
	font-family: BenchnineLight;
	font-size: 120px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 20px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: left;
}

//Trabalhando na área CONTATOS
.contato-dist {
	padding-left:37%;
  	padding-top:17%;
}

.contato-tit {
	@include txtGradient-titulos (to right, #ff6700, #ff6d00, #ff7800);
  	font-family: BenchnineLight;
  	font-size: 100px;
  	font-weight: 300;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 0.96;
  	letter-spacing: 8.9px;
  	text-align: left;
  	-webkit-background-clip: text;
  	background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.contato-bsb {
	padding-left: 29.5%;
}

.contato-sp{
	padding-left: 17.5%;
	padding-bottom: 30%;
	h3 {
		margin-top: 43px;
	}
}

.cidade {
  	font-family: BenchnineBold;
  	font-size: 36px;
  	line-height: 0.67;
  	letter-spacing: 1.1px;
  	color: #ff9100;
  	margin: 0;
}

.endereco {
	font-family: RobotoRegular;
  	font-size: 12px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: 1.5;
  	letter-spacing: 0.4px;
  	text-align: left;
  	color: #414042;
}

.contato-fundo {
	@include linearGradientTrian (-45deg, $cor-degrade2, $cor-degrade1, rgba(255,255,255,0), 41%, 41%);
}