@font-face {
  font-family: "BenchnineBold";
  url: font-path("./src/fonts/benchnine-bold.ttf") format("truetype");
}

@font-face {
  font-family: "BenchnineLight";
  url: font-path("./src/fonts/benchnine-light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  url: font-path("./src/fonts/roboto-bold.woff") format("woff");
}

@font-face {
  font-family: "RobotoRegular";
  url: font-path("./src/fonts/roboto-regular.woff") format("woff");
}
